node_modules/
.vscode
typechain/
env.json
.tmp-addresses*.json
data/gmxMigration
data/esGmxDistribution
data/bonds
data/batchSend
data/nft
data/snapshotBalance
data/holders
data/contractList
flattened
distribution-data*.json
fee-reference.json
uniswap-fee-reference.json
keys
tmp
**/.DS_Store

#Hardhat files
cache
artifacts
artifacts-v2/build-info
